.button {
  margin: 0;
  padding: 1.5rem;
  box-shadow: $boxShadow;
  display: inline-block;
  border: none;
  background: none;
  outline: none;
  user-select: none;
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;

  & + .button {
    margin-left: 2rem;
  }

  &:hover {
    box-shadow: $boxShadowOver;
  }

  &.active {
    background-color: #eeeeee;
    box-shadow: none;
  }

  &.warning {
    color: #9f6000;
    background-color: #feefb3;
  }

  &.info {
    color: #00529b;
    background-color: #bde5f8;
  }

  &.error {
    color: #d8000c;
    background-color: #ffd2d2;
  }

  &.success {
    color: #4f8a10;
    background-color: #dff2bf;
  }
}
